<div class="product-info">
    <h2> {{ specs }} </h2>
    <p> {{ information }} </p>
</div>

<div class="product-features">
    <p> Height: {{ Height }} </p>
    <p> Weight : {{ Weight }} </p>
    <p> Thickness : {{ Thickness }} </p>
    <p> Screen Weight : {{ ScreenWeight }} </p>
    <p> Screen Wideness : {{ ScreenWideness }} </p>
    <p> Display : {{ Display }} </p>
    <p> Materials : {{ Materials }} </p>
</div>