<h2> Height: {{ Height }} </h2>
<h2> Weight : {{ Weight }} </h2>
<p> Thickness : {{ Thickness }} </p>
<p> Screen Weight : {{ ScreenWeight }} </p>
<p> Screen Wideness : {{ ScreenWideness }} </p>
<p> Display : {{ Display }} </p>
<p> Materials : {{ Materials }} </p>